body{
    margin: 50px;
    width: 800px;
}

div{
    margin: 20px;
    border: lightslategrey;

}
b{
    margin: 10px;
    font-size: 20px;
    color: dimgray;
}

#box{
    background-color: antiquewhite;
    margin: 20px;
    border: antiquewhite;
    padding: 20px;
    float: left;
}

#updElement{
    position: fixed;
    top: 100px;
    left: 700px;
    width: 60px;
    background: bisque;
    padding: 20px;
    float: right;
}
#addBox{
    background: antiquewhite;
    padding: 20px;
    float: left;
    width: 200px;
}